.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html * {
  font-size: 14px;
}

.container {
  border: 1px solid;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}
.sideBar {
  width: 30%;
  border: 1px solid;
}
.Main {
  width: 70%;
  border: 1px solid;
}
ul.sideBarMenu {
  list-style-type: none;
  padding: 12px;
}
ul.sideBarMenu li {
  padding: 12px 0px 8px 0px;
  margin: 10px 0;
  position: relative;
}
ul.sideBarMenu li:hover {
  background-color: #b6b7ae;
}

ul.sideBarMenu li:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  box-shadow: 0px 0px 10px #000;
  position: relative;
}

.MainContent {
  background: #ecf6f4;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
}
.MainContent h1 {
  margin: 0;
}
.InnerMainContent {
  background: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 8px #000;
  border-radius: 4px;
  padding:8px 16px;
    box-sizing: border-box;
}
.TableControls {
  width: 100%;
  text-align: right;
  display: flex;
}
.SearchBox {
  display: flex;
  padding-left: 16px;
}
.TableControls input,
.TableControls button {
  padding: 8px;
  /* font-size: 16px; */
}
.TableControls button {
  background-color: #fff;
  border: 1px solid #000;
    border-radius: 0px 5px 5px 0px;
}
.TableControls .react-datepicker-wrapper input {
  border: 1px solid #000;
  border-radius: 5px;
}
.SearchBox input {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #000;
}
.tableTitle {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 12px;
  padding-bottom: 8px;
}
.TableControls {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 12px;
}
.TableControlsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.SearchFilter {
  display: flex;
}

.TableData table {
  width: 100%;
}
.TableData th {
  padding: 16px 12px;
 
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}
.TableData tr td {
  background: #fafafa;
  padding: 16px 12px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}
.TableData {
  margin-top: 12px;
}
.TableData thead tr:first-child {
  display: none;
}
.editIconAction {
  text-align: center;
}
.editIconAction img {
  max-width: 20px;
}
.ActionControls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 5px;
}
.ActionLabel {
  width: 15%;
  /* border: 1px solid; */
  text-align: left;
  padding: 2px 16px;
}
.ActionInput{
  width: 70%;
  /* border: 1px solid; */
}
.ActionInput select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
}
.ActionInput textarea {
  width: 95%;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 8px 12px;
}
.ActionInput button {
  width: 100%;
  padding: 8px;
  background: #0f132e;
  color: #fff;
  /* font-size: 16px; */
}
.ActionInputSave button {
  width: 150px;
  padding: 8px;
  background: #002a57;
  color: #fff;
  /* font-size: 16px; */
  border-radius: 5px;
}
.ActionControlsSave {
  text-align: center;
}
.ExpandAreaAction {
  background: #fff;
  padding: 16px;
  box-shadow: 0px 0px 4px #8e7b7b;
  border-radius: 4px;
}
.CommentExpand {
  background: #fff;
  box-shadow: 0px 0px 4px #000;
  border-radius: 5px;
}